n8n-workflows/supabase/theorie-und-dokumente-reminder-supabase.json
{
  "name": "Fahrschule Autopilot - Theorie-Trainer & Dokumente Reminder (Supabase)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 18 * * *"
            }
          ]
        }
      },
      "id": "trigger-daily",
      "name": "Taeglich um 18 Uhr pruefen",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/schueler?tenant_id=eq.{{ $env.TENANT_ID }}&status=not.in.(abgemeldet,storniert,bestanden)&select=id,vorname,nachname,telefon,wa_opt_out,status,theorie_status,onboarding_status,letzte_theorie_aktivitaet,fehlende_dokumente",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "load-schueler",
      "name": "Schueler laden (Supabase)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/automation_log?typ=in.(theorie_reminder,dokumente_reminder)&tenant_id=eq.{{ $env.TENANT_ID }}&select=telefon,typ,created_at",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "load-log",
      "name": "Reminder-Log laden (Supabase)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "// Theorie-Trainer Reminder + Dokumente-Erinnerung\nconst schueler = $('Schueler laden (Supabase)').all();\nconst logItems = $('Reminder-Log laden (Supabase)').all();\n\n// Cooldown: 7 Tage zwischen gleichen Reminder-Typen\nconst gesendetMap = {};\nfor (const item of logItems) {\n  const key = `${item.json.telefon}_${item.json.typ}`;\n  const datum = new Date(item.json.created_at);\n  if (!gesendetMap[key] || datum > gesendetMap[key]) {\n    gesendetMap[key] = datum;\n  }\n}\n\nconst now = new Date();\nconst results = [];\nconst COOLDOWN_TAGE = 7;\n\nfor (const item of schueler) {\n  const data = item.json;\n  if (data.wa_opt_out) continue;\n\n  const name = `${data.vorname} ${data.nachname}`;\n  const telefon = data.telefon || '';\n  const theorieStatus = (data.theorie_status || '').toLowerCase();\n  const onboardingStatus = (data.onboarding_status || '').toLowerCase();\n  const letzteTheorieAktivitaet = data.letzte_theorie_aktivitaet || '';\n  const fehlendeDokumente = data.fehlende_dokumente || '';\n\n  if (!telefon || !name) continue;\n\n  // --- THEORIE-TRAINER REMINDER ---\n  if (theorieStatus !== 'bestanden' && theorieStatus !== 'abgeschlossen') {\n    if (letzteTheorieAktivitaet) {\n      let letzteAktiv;\n      try { letzteAktiv = new Date(letzteTheorieAktivitaet); } catch(e) { letzteAktiv = null; }\n\n      if (letzteAktiv && !isNaN(letzteAktiv.getTime())) {\n        const tageSeitLetzterAktivitaet = Math.floor((now.getTime() - letzteAktiv.getTime()) / (1000 * 60 * 60 * 24));\n\n        if (tageSeitLetzterAktivitaet >= 3) {\n          const key = `${telefon}_theorie_reminder`;\n          const letzterReminder = gesendetMap[key];\n          const tageSeitReminder = letzterReminder ? Math.floor((now.getTime() - letzterReminder.getTime()) / (1000 * 60 * 60 * 24)) : 999;\n\n          if (tageSeitReminder >= COOLDOWN_TAGE) {\n            const motivationsTexte = [\n              `Hallo ${name}! 📚\\n\\nSie haben ${tageSeitLetzterAktivitaet} Tage nicht im Theorie-Trainer geuebt. Bleiben Sie dran --- regelmaessiges Ueben ist der Schluessel zum Bestehen!\\n\\n🎯 Tagesziel: Nur 20 Fragen, das dauert ca. 10 Minuten.\\n\\n👉 Jetzt weiterlernen: ` + '{{ $env.WEBSITE_URL }}/theorie' + `\\n\\nSie schaffen das! 💪\\n\\nIhre Fahrschule 🚗`,\n              `Hi ${name}! 👋\\n\\nKleine Erinnerung: Der Theorie-Trainer wartet auf Sie! Letzte Aktivitaet war vor ${tageSeitLetzterAktivitaet} Tagen.\\n\\n💡 Wussten Sie? Schueler die taeglich ueben, bestehen die Pruefung beim ersten Versuch 40% haeufiger!\\n\\n📱 ` + '{{ $env.WEBSITE_URL }}/theorie' + `\\n\\nViel Erfolg! 🍀\\n\\nIhre Fahrschule`\n            ];\n\n            results.push({\n              json: {\n                schuelerName: name,\n                schuelerTelefon: telefon,\n                schuelerId: data.id,\n                typ: 'theorie_reminder',\n                nachricht: motivationsTexte[Math.floor(Math.random() * motivationsTexte.length)],\n                tageSeitAktivitaet: tageSeitLetzterAktivitaet\n              }\n            });\n          }\n        }\n      }\n    }\n  }\n\n  // --- DOKUMENTE-ERINNERUNG ---\n  if (onboardingStatus !== 'abgeschlossen' && fehlendeDokumente) {\n    const key = `${telefon}_dokumente_reminder`;\n    const letzterReminder = gesendetMap[key];\n    const tageSeitReminder = letzterReminder ? Math.floor((now.getTime() - letzterReminder.getTime()) / (1000 * 60 * 60 * 24)) : 999;\n\n    if (tageSeitReminder >= COOLDOWN_TAGE) {\n      results.push({\n        json: {\n          schuelerName: name,\n          schuelerTelefon: telefon,\n          schuelerId: data.id,\n          typ: 'dokumente_reminder',\n          nachricht: `Hallo ${name},\\n\\nkurze Erinnerung: Uns fehlen noch folgende Unterlagen von Ihnen:\\n\\n${fehlendeDokumente.split(',').map(d => '📎 ' + d.trim()).join('\\n')}\\n\\nBitte reichen Sie diese zeitnah ein, damit wir Ihren Antrag beim TUeV stellen koennen.\\n\\n💡 Sie koennen die Dokumente einfach als Foto per WhatsApp schicken!\\n\\nIhre Fahrschule`,\n          fehlendeDokumente\n        }\n      });\n    }\n  }\n}\n\nreturn results.length > 0 ? results : [{ json: { skip: true } }];"
      },
      "id": "process-reminders",
      "name": "Reminder-Kandidaten ermitteln",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "filter-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-reminders",
      "name": "Nur gueltige Reminders",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        920,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "from": "={{ $env.TWILIO_WHATSAPP_FROM }}",
        "to": "=whatsapp:{{ $json.schuelerTelefon }}",
        "body": "={{ $json.nachricht }}"
      },
      "id": "send-reminder",
      "name": "Reminder senden",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1140,
        300
      ],
      "credentials": {
        "twilioApi": {
          "id": "TWILIO_CREDENTIALS",
          "name": "Twilio"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/automation_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tenant_id\": \"{{ $env.TENANT_ID }}\",\n  \"schueler_id\": \"{{ $json.schuelerId }}\",\n  \"telefon\": \"{{ $json.schuelerTelefon }}\",\n  \"typ\": \"{{ $json.typ }}\",\n  \"kanal\": \"whatsapp\",\n  \"status\": \"gesendet\",\n  \"details\": { \"tage_seit_aktivitaet\": {{ $json.tageSeitAktivitaet || 0 }} }\n}",
        "options": {}
      },
      "id": "log-reminder",
      "name": "Reminder loggen (Supabase)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1380,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/automation_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tenant_id\": \"{{ $env.TENANT_ID }}\",\n  \"telefon\": \"{{ $json.schuelerTelefon || $json.telefon || 'unbekannt' }}\",\n  \"typ\": \"sendefehler\",\n  \"kanal\": \"whatsapp\",\n  \"status\": \"fehler\",\n  \"details\": {\n    \"workflow\": \"Fahrschule Autopilot - Theorie-Trainer & Dokumente Reminder (Supabase)\",\n    \"fehler\": \"WhatsApp-Nachricht konnte nicht gesendet werden\"\n  }\n}",
        "options": {}
      },
      "id": "log-sendefehler",
      "name": "Sendefehler loggen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        600
      ]
    }
  ],
  "connections": {
    "Taeglich um 18 Uhr pruefen": {
      "main": [
        [
          {
            "node": "Schueler laden (Supabase)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Reminder-Log laden (Supabase)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schueler laden (Supabase)": {
      "main": [
        [
          {
            "node": "Reminder-Kandidaten ermitteln",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reminder-Log laden (Supabase)": {
      "main": [
        [
          {
            "node": "Reminder-Kandidaten ermitteln",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reminder-Kandidaten ermitteln": {
      "main": [
        [
          {
            "node": "Nur gueltige Reminders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nur gueltige Reminders": {
      "main": [
        [
          {
            "node": "Reminder senden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reminder senden": {
      "main": [
        [
          {
            "node": "Reminder loggen (Supabase)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sendefehler loggen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    {
      "name": "Fahrschule Autopilot",
      "id": "1"
    },
    {
      "name": "Theorie",
      "id": "11"
    },
    {
      "name": "Dokumente",
      "id": "12"
    },
    {
      "name": "Supabase",
      "id": "20"
    }
  ]
}