n8n-workflows/feedback-bewertungen-twilio.json
{
  "name": "Fahrschule Autopilot - Feedback & Google-Bewertungen",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "feedback-trigger",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Trigger - Schueler hat bestanden",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "feedback-trigger"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Stuendlich pruefen",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 500]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "SPREADSHEET_ID_HIER",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Schueler",
          "mode": "name"
        }
      },
      "id": "gsheets-schueler",
      "name": "Schueler-Liste laden",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [440, 500],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIALS",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Schueler filtern die Feedback bekommen sollen\n// Trigger: Pruefung bestanden ODER letzte Fahrstunde war vor 1-2 Tagen\nconst items = $input.all();\nconst now = new Date();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  const name = data.Schueler || data.Name || data.name || '';\n  let telefon = data.Telefon || data.telefon || data.Handy || '';\n  const feedbackStatus = (data.Feedback_Status || data.feedback_status || '').toLowerCase();\n  const pruefungDatum = data.Pruefung_Bestanden || data.pruefung_bestanden || '';\n  const letzteFahrstunde = data.Letzte_Fahrstunde || data.letzte_fahrstunde || '';\n  \n  // Schon Feedback gefragt oder gegeben? Skip.\n  if (feedbackStatus === 'gefragt' || feedbackStatus === 'erhalten' || feedbackStatus === 'google') continue;\n  if (!telefon || !name) continue;\n  \n  // Telefonnummer bereinigen\n  telefon = telefon.toString().replace(/[\\s\\-\\/\\(\\)]/g, '');\n  if (!telefon.startsWith('+')) {\n    telefon = '+49' + telefon.replace(/^0/, '');\n  }\n  \n  let sollFeedbackBekommen = false;\n  let trigger = '';\n  \n  // Pruefung bestanden?\n  if (pruefungDatum) {\n    const pruefung = new Date(pruefungDatum);\n    const stundenSeit = (now.getTime() - pruefung.getTime()) / (1000 * 60 * 60);\n    // 2-48 Stunden nach bestandener Pruefung\n    if (stundenSeit >= 2 && stundenSeit <= 48) {\n      sollFeedbackBekommen = true;\n      trigger = 'pruefung_bestanden';\n    }\n  }\n  \n  // Letzte Fahrstunde (fuer laufende Schueler, alle 10 Stunden)\n  if (!sollFeedbackBekommen && letzteFahrstunde) {\n    const anzahlStunden = parseInt(data.Anzahl_Stunden || data.anzahl_stunden || '0');\n    if (anzahlStunden > 0 && anzahlStunden % 10 === 0) {\n      const letzteStunde = new Date(letzteFahrstunde);\n      const stundenSeit = (now.getTime() - letzteStunde.getTime()) / (1000 * 60 * 60);\n      if (stundenSeit >= 2 && stundenSeit <= 48) {\n        sollFeedbackBekommen = true;\n        trigger = 'meilenstein_' + anzahlStunden;\n      }\n    }\n  }\n  \n  if (sollFeedbackBekommen) {\n    results.push({\n      json: {\n        schuelerName: name,\n        schuelerTelefon: telefon,\n        trigger,\n        rowIndex: item.json.row_number || 0\n      }\n    });\n  }\n}\n\nreturn results.length > 0 ? results : [{ json: { skip: true } }];"
      },
      "id": "filter-schueler",
      "name": "Feedback-Kandidaten filtern",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "filter-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-valid",
      "name": "Nur gueltige Kandidaten",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [880, 400]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "from": "={{ $env.TWILIO_WHATSAPP_FROM }}",
        "to": "=whatsapp:{{ $json.schuelerTelefon }}",
        "body": "=Hallo {{ $json.schuelerName }}! 🎉\n\nWir hoffen, Sie sind zufrieden mit Ihrer Fahrschule!\n\nKurze Frage: Wie bewerten Sie uns auf einer Skala von 1-5?\n\n⭐ Antworten Sie einfach mit einer Zahl:\n5 = Hervorragend\n4 = Gut\n3 = Okay\n2 = Nicht so gut\n1 = Schlecht\n\nIhr Feedback hilft uns, noch besser zu werden! 🙏"
      },
      "id": "send-feedback-request",
      "name": "Feedback anfragen per WhatsApp",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1100, 400],
      "credentials": {
        "twilioApi": {
          "id": "TWILIO_CREDENTIALS",
          "name": "Twilio"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "SPREADSHEET_ID_HIER",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Feedback_Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Schueler": "={{ $json.schuelerName }}",
            "Telefon": "={{ $json.schuelerTelefon }}",
            "Trigger": "={{ $json.trigger }}",
            "Gefragt_am": "={{ $now.toISO() }}",
            "Status": "gefragt",
            "Bewertung": "",
            "Google_Review": ""
          }
        }
      },
      "id": "log-feedback-request",
      "name": "Feedback-Anfrage loggen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1320, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIALS",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "feedback-response",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-feedback",
      "name": "Eingehende Feedback-Antwort",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 800],
      "webhookId": "feedback-response"
    },
    {
      "parameters": {
        "jsCode": "// Feedback-Antwort auswerten\nconst body = $input.first().json.body || $input.first().json;\nconst messageBody = (body.Body || body.body || '').trim();\nconst from = (body.From || body.from || '').replace('whatsapp:', '').trim();\n\n// Bewertung extrahieren (1-5)\nconst bewertung = parseInt(messageBody);\n\nif (bewertung >= 1 && bewertung <= 5) {\n  return [{\n    json: {\n      telefon: from,\n      bewertung,\n      istPositiv: bewertung >= 4,\n      istSehrGut: bewertung === 5,\n      originalMessage: messageBody\n    }\n  }];\n}\n\n// Keine gueltige Bewertung\nreturn [{\n  json: {\n    telefon: from,\n    bewertung: null,\n    istPositiv: false,\n    istSehrGut: false,\n    originalMessage: messageBody\n  }\n}];"
      },
      "id": "parse-feedback",
      "name": "Bewertung auswerten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 800]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-positiv",
              "leftValue": "={{ $json.istSehrGut }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "switch-rating",
      "name": "5 Sterne oder weniger",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [660, 800]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "from": "={{ $env.TWILIO_WHATSAPP_FROM }}",
        "to": "=whatsapp:{{ $json.telefon }}",
        "body": "=Wow, vielen Dank fuer die 5 Sterne! ⭐⭐⭐⭐⭐\n\nDas freut uns riesig! 🎉\n\nWuerden Sie uns einen riesigen Gefallen tun und diese Bewertung auch auf Google hinterlassen? Das hilft anderen Fahrschuelern, uns zu finden.\n\nDauert nur 30 Sekunden:\n👉 {{ $env.GOOGLE_REVIEW_LINK }}\n\nVielen herzlichen Dank! 🙏"
      },
      "id": "send-google-link",
      "name": "Google-Review Link senden",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [900, 700],
      "credentials": {
        "twilioApi": {
          "id": "TWILIO_CREDENTIALS",
          "name": "Twilio"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "from": "={{ $env.TWILIO_WHATSAPP_FROM }}",
        "to": "=whatsapp:{{ $json.telefon }}",
        "body": "=Vielen Dank fuer Ihr ehrliches Feedback! 🙏\n\nWir nehmen das sehr ernst und werden uns verbessern.\n\nMoechten Sie uns kurz sagen, was wir besser machen koennen? Wir lesen jede Nachricht.\n\nIhre Fahrschule"
      },
      "id": "send-internal-feedback",
      "name": "Internes Feedback anfragen",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [900, 920],
      "credentials": {
        "twilioApi": {
          "id": "TWILIO_CREDENTIALS",
          "name": "Twilio"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "from": "={{ $env.TWILIO_WHATSAPP_FROM }}",
        "to": "=whatsapp:{{ $env.FAHRSCHULINHABER_TELEFON }}",
        "body": "=⚠️ Feedback erhalten!\n\n📱 {{ $json.telefon }}\n⭐ Bewertung: {{ $json.bewertung }}/5\n\n{{ $json.bewertung >= 4 ? '✅ Positiv! Google-Review Link wurde gesendet.' : '❌ Negativ. Internes Feedback wurde angefragt. Bitte persoenlich nachfassen!' }}"
      },
      "id": "notify-inhaber",
      "name": "Inhaber ueber Feedback informieren",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1140, 800],
      "credentials": {
        "twilioApi": {
          "id": "TWILIO_CREDENTIALS",
          "name": "Twilio"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "SPREADSHEET_ID_HIER",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Feedback_Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Telefon": "={{ $json.telefon }}",
            "Bewertung": "={{ $json.bewertung }}",
            "Erhalten_am": "={{ $now.toISO() }}",
            "Status": "={{ $json.istSehrGut ? 'google_link_gesendet' : 'intern_feedback' }}",
            "Google_Review": "={{ $json.istSehrGut ? 'angefragt' : 'nein' }}"
          }
        }
      },
      "id": "log-feedback-result",
      "name": "Feedback-Ergebnis loggen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1360, 800],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIALS",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK"
      },
      "id": "webhook-response-1",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1100, 600]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK"
      },
      "id": "webhook-response-2",
      "name": "Webhook Response 2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [440, 300]
    }
  ],
  "connections": {
    "Trigger - Schueler hat bestanden": {
      "main": [
        [
          { "node": "Webhook Response 2", "type": "main", "index": 0 }
        ]
      ]
    },
    "Stuendlich pruefen": {
      "main": [
        [
          { "node": "Schueler-Liste laden", "type": "main", "index": 0 }
        ]
      ]
    },
    "Schueler-Liste laden": {
      "main": [
        [
          { "node": "Feedback-Kandidaten filtern", "type": "main", "index": 0 }
        ]
      ]
    },
    "Feedback-Kandidaten filtern": {
      "main": [
        [
          { "node": "Nur gueltige Kandidaten", "type": "main", "index": 0 }
        ]
      ]
    },
    "Nur gueltige Kandidaten": {
      "main": [
        [
          { "node": "Feedback anfragen per WhatsApp", "type": "main", "index": 0 }
        ]
      ]
    },
    "Feedback anfragen per WhatsApp": {
      "main": [
        [
          { "node": "Feedback-Anfrage loggen", "type": "main", "index": 0 }
        ]
      ]
    },
    "Eingehende Feedback-Antwort": {
      "main": [
        [
          { "node": "Bewertung auswerten", "type": "main", "index": 0 }
        ]
      ]
    },
    "Bewertung auswerten": {
      "main": [
        [
          { "node": "5 Sterne oder weniger", "type": "main", "index": 0 }
        ]
      ]
    },
    "5 Sterne oder weniger": {
      "main": [
        [
          { "node": "Google-Review Link senden", "type": "main", "index": 0 }
        ],
        [
          { "node": "Internes Feedback anfragen", "type": "main", "index": 0 }
        ]
      ]
    },
    "Google-Review Link senden": {
      "main": [
        [
          { "node": "Inhaber ueber Feedback informieren", "type": "main", "index": 0 },
          { "node": "Webhook Response", "type": "main", "index": 0 }
        ]
      ]
    },
    "Internes Feedback anfragen": {
      "main": [
        [
          { "node": "Inhaber ueber Feedback informieren", "type": "main", "index": 0 },
          { "node": "Webhook Response", "type": "main", "index": 0 }
        ]
      ]
    },
    "Inhaber ueber Feedback informieren": {
      "main": [
        [
          { "node": "Feedback-Ergebnis loggen", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    { "name": "Fahrschule Autopilot", "id": "1" },
    { "name": "Feedback", "id": "4" },
    { "name": "Google-Bewertungen", "id": "5" }
  ]
}
