n8n-workflows/production/termin-erinnerungen-production.json
{
  "name": "Fahrschule Autopilot - Termin-Erinnerungen (Production)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "trigger-1",
      "name": "Alle 15 Min pruefen",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/fahrstunden?tenant_id=eq.{{ $env.TENANT_ID }}&status=eq.geplant&datum=gte.{{ $now.toISODate() }}&select=*,schueler:schueler_id(id,vorname,nachname,telefon,wa_opt_out),fahrlehrer:fahrlehrer_id(vorname,nachname)",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "load-fahrstunden",
      "name": "Fahrstunden laden (Production)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/automation_log?typ=in.(erinnerung_24h,erinnerung_2h)&tenant_id=eq.{{ $env.TENANT_ID }}&select=telefon,datum,uhrzeit,typ,created_at",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "load-log",
      "name": "Bereits gesendete Erinnerungen laden",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "// Fahrstunden verarbeiten und mit automation_log abgleichen\nconst fahrstunden = $('Fahrstunden laden (Production)').all();\nconst logItems = $('Bereits gesendete Erinnerungen laden').all();\n\n// Set von bereits gesendeten Erinnerungen\nconst gesendet = new Set();\nfor (const item of logItems) {\n  const d = item.json;\n  const key = `${d.telefon}_${d.datum}_${d.uhrzeit}_${d.typ}`;\n  gesendet.add(key);\n}\n\nconst now = new Date();\nconst results = [];\n\nfor (const item of fahrstunden) {\n  const data = item.json;\n  const schueler = data.schueler;\n  const fahrlehrer = data.fahrlehrer;\n\n  // Schueler-Daten pruefen\n  if (!schueler || !schueler.telefon || !schueler.vorname) continue;\n\n  // WhatsApp Opt-Out pruefen\n  if (schueler.wa_opt_out) continue;\n\n  const datum = data.datum;\n  const zeit = data.uhrzeit || data.zeit || '09:00';\n  const name = `${schueler.vorname} ${schueler.nachname}`;\n  const fahrlehrerName = fahrlehrer ? `${fahrlehrer.vorname} ${fahrlehrer.nachname}` : '';\n  const art = data.art || data.typ || 'Fahrstunde';\n\n  // Telefonnummer bereinigen\n  let telefon = schueler.telefon.toString().replace(/[\\s\\-\\/\\(\\)]/g, '');\n  if (!telefon.startsWith('+')) {\n    telefon = '+49' + telefon.replace(/^0/, '');\n  }\n\n  if (!datum) continue;\n\n  // Termin-Zeitpunkt berechnen\n  let terminDatum;\n  try {\n    if (datum.includes('.')) {\n      const parts = datum.split('.');\n      terminDatum = new Date(`${parts[2]}-${parts[1].padStart(2,'0')}-${parts[0].padStart(2,'0')}T${zeit}:00`);\n    } else {\n      terminDatum = new Date(`${datum}T${zeit}:00`);\n    }\n  } catch(e) {\n    continue;\n  }\n\n  if (isNaN(terminDatum.getTime())) continue;\n\n  // Stunden bis zum Termin\n  const stundenBis = (terminDatum.getTime() - now.getTime()) / (1000 * 60 * 60);\n\n  // 24h Erinnerung (23-25h vorher)\n  if (stundenBis >= 23 && stundenBis <= 25) {\n    const key = `${telefon}_${datum}_${zeit}_erinnerung_24h`;\n    if (!gesendet.has(key)) {\n      const optionen = { weekday: 'long', day: 'numeric', month: 'long' };\n      results.push({\n        json: {\n          schuelerName: name,\n          schuelerTelefon: telefon,\n          schuelerId: schueler.id,\n          fahrstundeId: data.id,\n          fahrlehrerName: fahrlehrerName,\n          terminArt: art,\n          terminDatum: datum,\n          terminZeit: zeit,\n          terminDatumFormatiert: terminDatum.toLocaleDateString('de-DE', optionen),\n          terminZeitFormatiert: zeit,\n          erinnerungsTyp: '24h',\n          logTyp: 'erinnerung_24h',\n          stundenBisTermin: Math.round(stundenBis * 10) / 10\n        }\n      });\n    }\n  }\n\n  // 2h Erinnerung (1.5-2.5h vorher)\n  if (stundenBis >= 1.5 && stundenBis <= 2.5) {\n    const key = `${telefon}_${datum}_${zeit}_erinnerung_2h`;\n    if (!gesendet.has(key)) {\n      results.push({\n        json: {\n          schuelerName: name,\n          schuelerTelefon: telefon,\n          schuelerId: schueler.id,\n          fahrstundeId: data.id,\n          fahrlehrerName: fahrlehrerName,\n          terminArt: art,\n          terminDatum: datum,\n          terminZeit: zeit,\n          terminDatumFormatiert: terminDatum.toLocaleDateString('de-DE', { weekday: 'long', day: 'numeric', month: 'long' }),\n          terminZeitFormatiert: zeit,\n          erinnerungsTyp: '2h',\n          logTyp: 'erinnerung_2h',\n          stundenBisTermin: Math.round(stundenBis * 10) / 10\n        }\n      });\n    }\n  }\n}\n\nreturn results.length > 0 ? results : [{ json: { skip: true } }];"
      },
      "id": "process-1",
      "name": "Termine verarbeiten + Duplikate filtern",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "filter-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-1",
      "name": "Nur gueltige Erinnerungen",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        920,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-24h",
              "leftValue": "={{ $json.erinnerungsTyp }}",
              "rightValue": "24h",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "switch-type",
      "name": "24h oder 2h",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1140,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "from": "={{ $env.TWILIO_WHATSAPP_FROM }}",
        "to": "=whatsapp:{{ $json.schuelerTelefon }}",
        "body": "=Hallo {{ $json.schuelerName }}! 👋\n\nKurze Erinnerung an morgen:\n\n📅 {{ $json.terminDatumFormatiert }}\n🕐 {{ $json.terminZeitFormatiert }} Uhr\n🚗 {{ $json.terminArt }}\n👤 {{ $json.fahrlehrerName }}\n\nBitte denken Sie an:\n✅ Personalausweis\n✅ Festes Schuhwerk\n✅ Brille (falls noetig)\n\nKoennen Sie den Termin nicht wahrnehmen?\nAntworten Sie bitte mit ABSAGE.\n\nWir freuen uns auf Sie! 🚗"
      },
      "id": "twilio-24h",
      "name": "WhatsApp 24h Erinnerung",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1360,
        200
      ],
      "credentials": {
        "twilioApi": {
          "id": "TWILIO_CREDENTIALS",
          "name": "Twilio"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "from": "={{ $env.TWILIO_WHATSAPP_FROM }}",
        "to": "=whatsapp:{{ $json.schuelerTelefon }}",
        "body": "=Hallo {{ $json.schuelerName }}! ⏰\n\nIhre {{ $json.terminArt }} beginnt in 2 Stunden!\n\n🕐 {{ $json.terminZeitFormatiert }} Uhr\n👤 {{ $json.fahrlehrerName }}\n\nBitte seien Sie 5 Minuten vorher da.\nWir freuen uns auf Sie! 🚗💨"
      },
      "id": "twilio-2h",
      "name": "WhatsApp 2h Erinnerung",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1360,
        400
      ],
      "credentials": {
        "twilioApi": {
          "id": "TWILIO_CREDENTIALS",
          "name": "Twilio"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/automation_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tenant_id\": \"{{ $env.TENANT_ID }}\",\n  \"typ\": \"{{ $json.logTyp }}\",\n  \"telefon\": \"{{ $json.schuelerTelefon }}\",\n  \"datum\": \"{{ $json.terminDatum }}\",\n  \"uhrzeit\": \"{{ $json.terminZeit }}\",\n  \"schueler_name\": \"{{ $json.schuelerName }}\",\n  \"schueler_id\": \"{{ $json.schuelerId }}\",\n  \"referenz_id\": \"{{ $json.fahrstundeId }}\",\n  \"referenz_typ\": \"fahrstunde\",\n  \"status\": \"gesendet\",\n  \"kanal\": \"whatsapp\",\n  \"details\": \"{{ $json.erinnerungsTyp }} Erinnerung gesendet\"\n}",
        "options": {}
      },
      "id": "log-gesendet",
      "name": "In automation_log schreiben",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WEBHOOK_NOTIFY_URL }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=✅ Erinnerung gesendet!\n👤 {{ $json.schuelerName }}\n📱 {{ $json.schuelerTelefon }}\n📅 {{ $json.terminDatumFormatiert }} {{ $json.terminZeitFormatiert }}\n🔔 {{ $json.erinnerungsTyp }} Erinnerung"
            }
          ]
        },
        "options": {}
      },
      "id": "notify-owner",
      "name": "Fahrschulinhaber benachrichtigen (optional)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        500
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-incoming",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-absage",
      "name": "Eingehende WhatsApp Antwort",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        700
      ],
      "webhookId": "whatsapp-incoming"
    },
    {
      "parameters": {
        "jsCode": "// Eingehende Nachricht verarbeiten\nconst body = $input.first().json.body || $input.first().json;\nconst messageBody = (body.Body || body.body || '').trim().toUpperCase();\nconst from = body.From || body.from || '';\n\n// Nummer extrahieren\nconst telefon = from.replace('whatsapp:', '').trim();\n\nif (messageBody === 'ABSAGE' || messageBody === 'CANCEL' || messageBody === 'STORNIEREN') {\n  return [{\n    json: {\n      action: 'absage',\n      telefon,\n      message: messageBody,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nif (messageBody === 'OK' || messageBody === 'JA' || messageBody === 'BESTÄTIGT') {\n  return [{\n    json: {\n      action: 'bestaetigung',\n      telefon,\n      message: messageBody,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    action: 'unbekannt',\n    telefon,\n    message: messageBody,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "parse-response",
      "name": "Antwort auswerten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-absage",
              "leftValue": "={{ $json.action }}",
              "rightValue": "absage",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "switch-action",
      "name": "Absage oder Bestaetigung",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        660,
        700
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "from": "={{ $env.TWILIO_WHATSAPP_FROM }}",
        "to": "=whatsapp:{{ $env.FAHRLEHRER_TELEFON }}",
        "body": "=⚠️ ABSAGE eingegangen!\n\n📱 {{ $json.telefon }}\n🕐 {{ $now.toLocaleString('de-DE') }}\n\nBitte pruefen Sie den Terminkalender und kontaktieren Sie ggf. den naechsten Schueler auf der Warteliste."
      },
      "id": "notify-absage",
      "name": "Fahrlehrer ueber Absage informieren",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        880,
        600
      ],
      "credentials": {
        "twilioApi": {
          "id": "TWILIO_CREDENTIALS",
          "name": "Twilio"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "from": "={{ $env.TWILIO_WHATSAPP_FROM }}",
        "to": "=whatsapp:{{ $json.telefon }}",
        "body": "Vielen Dank fuer Ihre Absage. Wir haben Ihren Fahrlehrer informiert. Falls Sie einen neuen Termin buchen moechten, melden Sie sich gerne bei uns. 🚗"
      },
      "id": "confirm-absage",
      "name": "Absage bestaetigen an Schueler",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        880,
        800
      ],
      "credentials": {
        "twilioApi": {
          "id": "TWILIO_CREDENTIALS",
          "name": "Twilio"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/automation_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tenant_id\": \"{{ $env.TENANT_ID }}\",\n  \"typ\": \"absage_eingegangen\",\n  \"telefon\": \"{{ $json.telefon }}\",\n  \"status\": \"verarbeitet\",\n  \"kanal\": \"whatsapp\",\n  \"details\": \"Schueler hat Termin abgesagt via WhatsApp\"\n}",
        "options": {}
      },
      "id": "log-absage",
      "name": "Absage in automation_log schreiben",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        600
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1300,
        700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/automation_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tenant_id\": \"{{ $env.TENANT_ID }}\",\n  \"telefon\": \"{{ $json.schuelerTelefon || $json.telefon || 'unbekannt' }}\",\n  \"typ\": \"sendefehler\",\n  \"kanal\": \"whatsapp\",\n  \"status\": \"fehler\",\n  \"details\": {\n    \"workflow\": \"Fahrschule Autopilot - Termin-Erinnerungen (Production)\",\n    \"fehler\": \"WhatsApp-Nachricht konnte nicht gesendet werden\"\n  }\n}",
        "options": {}
      },
      "id": "log-sendefehler",
      "name": "Sendefehler loggen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        600
      ]
    }
  ],
  "connections": {
    "Alle 15 Min pruefen": {
      "main": [
        [
          {
            "node": "Fahrstunden laden (Production)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Bereits gesendete Erinnerungen laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fahrstunden laden (Production)": {
      "main": [
        [
          {
            "node": "Termine verarbeiten + Duplikate filtern",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bereits gesendete Erinnerungen laden": {
      "main": [
        [
          {
            "node": "Termine verarbeiten + Duplikate filtern",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Termine verarbeiten + Duplikate filtern": {
      "main": [
        [
          {
            "node": "Nur gueltige Erinnerungen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nur gueltige Erinnerungen": {
      "main": [
        [
          {
            "node": "24h oder 2h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "24h oder 2h": {
      "main": [
        [
          {
            "node": "WhatsApp 24h Erinnerung",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp 2h Erinnerung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp 24h Erinnerung": {
      "main": [
        [
          {
            "node": "In automation_log schreiben",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fahrschulinhaber benachrichtigen (optional)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sendefehler loggen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp 2h Erinnerung": {
      "main": [
        [
          {
            "node": "In automation_log schreiben",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fahrschulinhaber benachrichtigen (optional)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sendefehler loggen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eingehende WhatsApp Antwort": {
      "main": [
        [
          {
            "node": "Antwort auswerten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Antwort auswerten": {
      "main": [
        [
          {
            "node": "Absage oder Bestaetigung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Absage oder Bestaetigung": {
      "main": [
        [
          {
            "node": "Fahrlehrer ueber Absage informieren",
            "type": "main",
            "index": 0
          },
          {
            "node": "Absage bestaetigen an Schueler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fahrlehrer ueber Absage informieren": {
      "main": [
        [
          {
            "node": "Absage in automation_log schreiben",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sendefehler loggen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Absage bestaetigen an Schueler": {
      "main": [
        [
          {
            "node": "Absage in automation_log schreiben",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sendefehler loggen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Absage in automation_log schreiben": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    {
      "name": "Fahrschule Autopilot",
      "id": "1"
    },
    {
      "name": "Termin-Erinnerungen",
      "id": "2"
    },
    {
      "name": "Supabase",
      "id": "4"
    }
  ]
}